{% extends 'staff/mains/base.html' %}

{% block main %}
<div class="flex flex-col justify-center min-h-screen bg-gray-500">
    <div class="mx-auto  w-1/3 my-8">
        <div class="bg-white p-8 shadow-lg rounded-lg">
            <div class="flex justify-center mb-5 space-x-3">
                <p class="text-2xl font-bold">ปลาน่ารัก</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="w-8 h-8 text-gray-700">
                    <path d="M180.5 141.5C219.7 108.5 272.6 80 336 80s116.3 28.5 155.5 61.5c39.1 33 66.9 72.4 81 99.8c4.7 9.2 4.7 20.1 0 29.3c-14.1 27.4-41.9 66.8-81 99.8C452.3 403.5 399.4 432 336 432s-116.3-28.5-155.5-61.5c-16.2-13.7-30.5-28.5-42.7-43.1L48.1 379.6c-12.5 7.3-28.4 5.3-38.7-4.9S-3 348.7 4.2 336.1L50 256 4.2 175.9c-7.2-12.6-5-28.4 5.3-38.6s26.1-12.2 38.7-4.9l89.7 52.3c12.2-14.6 26.5-29.4 42.7-43.1zM448 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/>
                </svg>
           
            </div>
            <div class="flex justify-center mb-3  ">
                <p class="badge badge-accent badge-outline">แก้ไขข้อมูลปลาสำหรับ {{fish.fish_name}}</p>
            </div>
            <form  method="post" enctype="multipart/form-data"  class="flex justify-center space-y-3 " >
                {% csrf_token %}
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text ">ชื่อปลา</span>
                    </div>
                    <input class="input input-bordered input-neutral w-full max-w-xs rounded-full" type="text" id="fish_name"  name="fish_name"  value={{fish.fish_name}} placeholder="กรอกชื่อปลา"  required/>
                    
                    <div class="label">
                        <span class="label-text ">สายพันธุ์</span>
                    </div>
                    <input class="input input-bordered input-neutral w-full max-w-xs rounded-full" type="text" id="species"  name="species" value={{fish.species}}  placeholder="กรอกสายพันธ์ุ" required />
                    
                    <div class="label">
                        <span class="label-text">เพศ</span>
                    </div>
                    <div class="flex space-x-4">
                        <label>
                            <input class="radio radio-accent" type="radio" id="gender_male" name="gender" value="M" 
                                {% if fish.gender == 'M' %} checked {% endif %} required />
                            เพศผู้
                        </label>
                        <label>
                            <input class="radio radio-accent" type="radio" id="gender_female" name="gender" value="F"
                                {% if fish.gender == 'F' %} checked {% endif %} required/>
                            เพศเมีย
                        </label>
                        <label>
                            <input class="radio radio-accent" type="radio" id="gender_unknown" name="gender" value="U" 
                                {% if fish.gender == 'U' %} checked {% endif %} required/>
                            ไม่ทราบเพศ
                        </label>
                    </div>
                    
                    <div class="label">
                        <span class="label-text ">วันเกิด</span>
                    </div>
                    <input class="input input-bordered input-neutral w-full max-w-xs rounded-full" type="date" id="birth_date"  name="birth_date" value="{{ fish.birth_date|date:'Y-m-d' }}"  placeholder="กรอกวันเกิด"  required/>
                    
                    <div class="label">
                        <span class="label-text ">คำอธิบาย</span>
                    </div>
                    <textarea class="textarea textarea-accent" type="text" id="description"  name="description" placeholder="กรอกรายละเอียด"  required>{{ fish.description }}</textarea>

                    
                    <div class="label">
                        <span class="label-text ">น้ำหนัก (กิโลกรัม)</span>
                    </div>
                    <input class="input input-bordered input-neutral w-full max-w-xs rounded-full" type="number" id="size"  name="size" value={{fish.size}} placeholder="กรอกน้ำหนัก" min="0" step="any" required />

                    <div class="label">
                        <span class="label-text ">รูป</span>
                    </div>
                    <div class="flex flex-col items-center">
                        {% if fish and fish.image %}
                        <img class="w-40 h-40 rounded-full mb-4" src="{{ fish.image.url }}" alt="{{ fish.fish_name }}">
                        {% endif %}
                        <input class="file-input file-input-bordered file-input-accent w-full max-w-xs rounded-full" 
                            type="file" 
                            id="image" 
                            name="image" 
                            placeholder="เลือกรูป" />
                    </div>

                    <div class="flex justify-center mt-5  ">
                        <button type="submit"  class="btn btn-outline btn-neutral w-1/2" >บันทึก</button>
                    </div>
                 
                 
                </label> 
                    
            </form>
        </div>
    </div>
    
</div> 
{% endblock %}